@import url(./sass/root.css);
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  a {
    text-decoration: none;
    list-style: none;
  }
}

body {
  &::-webkit-scrollbar {
    width: 10px;
    background-color: gainsboro;
    border-radius: 50px;
    height: 10px;
  }
}

//header

header {
  nav {
    height: 70px;
    .navbar-brand {
      margin-left: 30px;
    }
    ul {
      .dropbtn {
        background-color: #04aa6d;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
      }
      .dropdown {
        position: relative;
        display: inline-block;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        margin-top: -5px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 5px;
      }
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        border-radius: 5px;
      }
      .dropbtn {
        background-color: var(--blue);
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
      }
      .dropdown-content a:hover {
        background-color: #ddd;
      }

      .dropdown:hover .dropdown-content {
        display: block;
      }

      .dropdown:hover .dropbtn {
        background-color: var(--blue);
      }
    }
  }
}
//header

//main
main {
  .hero_section_1 {
    background-image: url(./img/bgQUBbZ14hfeb975yZ2YzTnAwen.jpg);
    width: auto;
    height: 320px;
    padding: 50px 50px;
    .Search_input_button {
      margin-top: 50px;
      border-radius: 50px;
      text-align: end;
      width: 100%;
      height: 50px;
      background-color: var(--white);
      #input_1 {
        border-style: none;
        transform: translate(-100px);
        padding-left: 20px;
        border-radius: 50px;
        height: 100%;
        width: 90%;
        text-align: start;
        &:focus-visible {
          outline: none;
        }
      }
      .hero_section_1_button {
        width: 120px;
        height: 50px;
        transform: translate(0px, -50px);
        background: linear-gradient(to right, #1ed5aa, #03b6e1);
        color: var(--white);
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        &:hover {
          color: black;
        }
      }
    }
  }
}
//main

//section
section {
  .hero_section_2 {
    background-color: rgb(45 28 111 / 50%);
    width: auto;
    height: 50%;
    padding: 50px 0px;
  }
  background-image: url(./img/rGbRnRvkmrSub07ty89Vnlsh6UX.jpg);
  object-fit: cover;
  background-size: cover;
  background-color: rgb(45 28 111 / 50%);
  h1 {
    width: 400px;
    border-bottom: 1px solid var(--white);
  }
  .hero_section_2_button {
    width: 15%;
    height: 50px;
    margin-left: 30px;
    border-radius: 50px;
    border: 2px solid var(--white);
    &:hover {
      border: 2px solid var(--white);
    }
  }
}
//section

//movei_section
.movei_section {
  background-repeat: no-repeat;
  background-position: 50% 200px;
  background-image: url(./img/svg/trending-bg-39afc2a5f77e31d469b25c187814c0a2efef225494c038098d62317d923f8415.svg);
  width: 100%;
  height: 550px;
  padding-top: 30px;
  padding-right: 30px;
  overflow-x: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  &::-webkit-scrollbar {
    width: 10px;
    background-color: grey;
    border-radius: 50px;
    height: 10px;
  }
  .movei_teriding_button_top {
    left: 0px;
    position: sticky;
    margin-top: 10px;
    display: flex;
    margin-left: 25px;
    width: 100;
    height: 30px;
    padding-right: 5px;
    gap: 5px;
    border: 1px solid black;
    border-radius: 50px;
    .Today {
      padding-left: 15px;
      padding-right: 15px;
      width: fit-content;
      border-radius: 50px;
      color: var(--white);
      background-color: #031d33;
      &:hover {
        cursor: pointer;
      }
      a {
        color: #2bd8ac;
        font-size: 18px;
      }
    }
    .This_Week {
      padding-top: 2px;
      a {
        color: black;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .cards {
    margin-top: 20px;
    width: 10%;
    display: flex;
    gap: 180%;
    height: 180px;
    border-radius: 15px;
    .card {
      border: none;
      &:hover {
        cursor: pointer;
      }
    }
    .card_img {
      img {
        border-radius: 15px;
        height: 300px;
      }
    }
    .movie_title {
      h4 {
        font-size: 20px;
        width: 200px;
      }
    }
    .movie_data {
      h5 {
        color: gray;
        width: 200px;
      }
    }
    i {
      width: fit-content;
      padding: 5px;
      border-radius: 50px;
      background-color: gray;
      transform: translate(170px, -290px);
      &:hover {
        cursor: pointer;
      }
    }
  }
}
//movei_section

//Latest Trailers
.latest_trailers {
  padding: 40px 25px;
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: center center;
  color: white;
  background-image: url(./img/lastest_img/uDgy6hyPd82kOHh6I95FLtLnj6p.jpg);
  .logo{
    width: 100%;
    display: flex;
    align-items: flex-start;
    height: 100px;
    .on_tv_button{
      width: fit-content;
      border: 1px solid #2dd8ac;
      border-radius: 50px;
      padding-right: 5px;
      height: 30px;
      .on_tv{
        padding: 0px 10px;
        border-radius: 50px;
        width: fit-content;
        &:hover{
          cursor: pointer;
        }
        background: linear-gradient(to right,#bbfdce,#2dd8ac);
      }
      .in_theaters{
        margin-top: -1px;
        margin-right: 10px;
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
  .latest_movie{
    margin-top: -30px;
    .movie_1{
      &:hover{
        transition: 0.2s;
        transform: scale(1.02);
        cursor: pointer;
      }
    }
    .movie_2{
      &:hover{
        transition: 0.2s;
        transform: scale(1.02);
        cursor: pointer;
      }
    }
  }
}
//Latest Trailers

//popular_cards
.popular_cards{
  width: 100%;
  height: 550px;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    width: 10px;
    background-color: grey;
    border-radius: 50px;
    height: 10px;
  }
  .popular_text{
    margin-top: 30px;
  }
  .popular_button_top{
    margin-top: 10px;
    width: fit-content;
    height: 30px;
    padding: 1px 0px;
    gap: 15px;
    border: 1px solid black;
    border-radius: 50px;
    .popular_on_tv {
      padding-left: 15px;
      margin-top: -2px;
      padding-right: 15px;
      height: 30px;
      width: fit-content;
      border-radius: 50px;
      color: var(--white);
      background-color: #031d33;
      text-align: center;
      align-items: center;
      &:hover {
        cursor: pointer;
      }
      a {
        color: #2bd8ac;
        font-size: 18px;
      }
    }
    .popular_in {
      padding-right: 5px;
      a {
        color: black;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
    .card {
      border: none;
      &:hover {
        cursor: pointer;
      }
    }
    .card_img {
      img {
        border-radius: 15px;
        height: 300px;
      }
    }
    .movie_title {
      h4 {
        font-size: 20px;
        width: 200px;
      }
    }
    .movie_data {
      h5 {
        color: gray;
        width: 200px;
      }
    }
    i {
      width: fit-content;
      padding: 5px;
      border-radius: 50px;
      background-color: gray;
      transform: translate(170px, -290px);
      &:hover {
        cursor: pointer;
      }
    }
  }
//popular_cards
//Leaderboard
.Leaderboard{
  padding: 20px;
  width: 100%;
  height: 400px;
  .prosent{
    width: 100%;
    height: 130%;
    .prosent_1{
      width: 50%;
      height: 80%;
    }
    .prosent_2{
      width: 50%;
      height: 80%;
    }
  }
}
//Leaderboard