* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
* a {
  text-decoration: none;
  list-style: none;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
}

header nav {
  height: 70px;
}
header nav .navbar-brand {
  margin-left: 30px;
}
header nav ul .dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
header nav ul .dropdown {
  position: relative;
  display: inline-block;
}
header nav ul .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  margin-top: -5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}
header nav ul .dropdown-content a {
  color: black;
  padding: 5px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}
header nav ul .dropbtn {
  background-color: var(--blue);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
header nav ul .dropdown-content a:hover {
  background-color: #ddd;
}
header nav ul .dropdown:hover .dropdown-content {
  display: block;
}
header nav ul .dropdown:hover .dropbtn {
  background-color: var(--blue);
}

.header_section {
  width: 100%;
  background-color: white;
  height: 50px;
}
.header_section .dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.header_section .dropdown {
  position: relative;
  display: inline-block;
}
.header_section .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  margin-top: -5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}
.header_section .dropdown-content a {
  color: black;
  padding: 5px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}
.header_section .dropbtn {
  background-color: var(--blue);
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.header_section .dropdown-content a:hover {
  background-color: #ddd;
}
.header_section .dropdown:hover .dropdown-content {
  display: block;
}
.header_section .dropdown:hover .dropbtn {
  background-color: var(--blue);
}

main {
  width: 100%;
  height: 500px;
  background-color: black;
}